@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

$primary: #046791;
$white: #fafafa;

html, body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
}

.container {
    padding: 20px 0px;
}

.content {
    width: 1000px;
    margin: 0px auto;
}
#header {
    background-color: $primary;
    color: $white;
    overflow: auto;

    #title {
        float: left;
        font-size: 18px;
        line-height: 50px;

        a {
            text-decoration: none;
            color: $white;
        }
    }

    .button {
        float: right;
        height: 50px;
        line-height: 50px;
        font-size: 14px;
        font-weight: 200;
        cursor: pointer;

        a {
            display: block;
            text-decoration: none;
            color: $white;
            width: 100px;
            padding: 0px auto;
            text-align: center;
        }
    }
    .button:hover {
        background-color: rgba(255,255,255,0.1);
    }
}

#form-login {
    width: 200px;
    margin: 0px auto;
    padding: 20px;
    border: 1px solid $primary;
}

.petition {
    overflow: auto;
    padding: 10px;
    margin: 0px;

    a {
        display: inline-block;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        padding: 10px;
        width: 100%;
        cursor: pointer;

        .title {
            font-size: 20px;
            font-weight: 400;
            color: #333;
            margin: 0px;
            padding: 0px;
            line-height: 24px;
            float: left;
        }
        .description {
            float: right;
            font-size: 12px;
            line-height: 20px;
            color: #888;
        }
    }
}
.petition:hover {
    background-color: #eee;
}

label {
    font-size: 12px;
}
button {
    display: inline-block;
    background-color: $primary;
    color: $white;
    font-size: 12px;
    font-weight: 200;
    padding: 5px 20px;
    width: 100%;
    margin-top: 10px;
    text-decoration: none;
    border: 0px;
}
.button-large {
    display: inline-block;
    background-color: $primary;
    color: $white;
    font-size: 30px;
    padding: 30px 50px;
    border-radius: 20px;
    text-decoration: none;
}
.button-large:hover {
    text-decoration: none;
    color: $white;
}

.section { min-height: 400px; }
.title { line-height: 200px; font-weight: 100; font-size: 60px; }
